<div class="bag-action-buttons">
    <a href="{% url 'products' %}" class="btn btn-outline-black text-uppercase form-action-button bag-action-button">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span>Keep Shopping</span>
    </a>
    <a href="{% url 'checkout' %}" class="btn btn-black text-uppercase form-action-button bag-action-button bag-action-button--checkout">
        <span>Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
</div>
