(# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
/.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
# If you collect static files into a directory named "staticfiles" or "static"
static/

# Django migrations: keep the files, ignore compiled python files
**/migrations/__pycache__/
**/migrations/*.pyc

# dotenv
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Python tools
.python-version
.mypy_cache/
pip-wheel-metadata/
pip-log.txt

# Misc
celerybeat-schedule
.ropeproject/
.cache/

