{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="page-title-block">
    <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
    <hr>
</div>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="allauth-form-actions">
        <button class="btn btn-black text-uppercase" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% endblock %}